.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/pilot/7 days/tracking_videos/*
data/pilot/14 days/tracking_videos/*
data/exp1/videos/*
data/exp1.2/videos/*
data/exp1.3/videos/*
